#heading{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    }
    
#content1 {

    height: 500px;
    width: 45%;
    background-color: #ddd;
    padding: 15px;
    text-align: center;
    display: inline-block;
}

#content2 {
    width: 45%;
    height: 500px;
    background-color: #ddd;
    padding: 15px;
    text-align: center;
    display: inline-block;
}


