nav {
    background-color: lightcoral;
    border-radius: 5px;
    text-align: center;
}


h1 {
    text-align: center;
}

ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    text-align: center;
}

body {
    background-color: powderblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

li {
    list-style: none;
    padding: 10px;
    letter-spacing: 5px;
    text-align: center;
}


a:hover {
    /* background-color: rgb (221, 105, 164);
    padding: 11px;
    border-radius: 5px; */
    cursor: pointer;
}

a:link {
    color:  purple;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
    border: 2px palevioletred;
    position: absolute;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    border


}
