.site-hero {
    height: 80vh;
    background-image: url("../assets/branding/wood_bkgrnd.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.hero-text {
    font-size:600px;
    font-weight: 300;
    font-style: italic;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    text-shadow:2px 2px red;
}