.site-hero {
    height: 50vh;
    background-image: url("../assets/images/site-hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.hero-text {
    font-weight: 300;
    font-family: "lobster";
    color: #fff;
    text-align: center;
    text-shadow:2px 2px #000;
    background-color: #e1a177;
    padding: 50px;
}

#herointro {
    font-size: 40px;

  }

  #herointro2 {
    font-size: 30px;
  }

