.page{
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
    "Navbar Navbar Navbar"
    "myHeader myHeader myHeader"
    "content content content"
    "footer footer footer";
}

nav {
    background-color: blueviolet;
    grid-area: Navbar;
    color: aliceblue;
    margin-right:500px;
    margin-left:500px;
}

p {

    margin-right:100px;
    margin-left:100px;
}

.intro {
    background-color: plum;
    grid-area: myHeader;
}

.inner-content{
    background-color: pink;
    grid-area: content;
}


body {
  margin:0;
  background-color: whitesmoke;
  text-align: center;
  margin: 10px;
}

.content {
    border: 2px solid purple;
    border-radius: 20px;
    background-color: pink;
    margin-right:400px;
    margin-left:400px;
    display: table-column ;
    
}

.card {
    border: 2px solid purple;
    border-radius: 20px;
    text-align: center;
    background-color: blueviolet;
    color: pink;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

img {
    border: 20px solid purple;
    border-radius: 100px;
    margin-bottom: 10px;
}
