.column-wrapper {
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-areas: "card1 card2 card3"
    "card1 card2 card3"
    "card1 card2 card3";
    border-style: outset;
}

.card1{
    color: blueviolet;
    background-color: pink;
    grid-area: card1;
    border-style: outset;
    text-align: center;
}

.card2 {
    color: blueviolet;
    background-color: pink;
    grid-area: card2;
    border-style: outset;
    text-align: center;
}


.card3 {
    color: blueviolet;
    background-color: pink;
    grid-area: card3;
    border-style: outset;
    text-align: center;
}

.gallery-1 {
    display: grid;
    grid-template-columns:auto auto auto;
    object-fit:cover;
}
