#MyGrid {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
    "myHeader myHeader myHeader"
    "sideNav content content"
    "sideNav footer footer";
}

header {
  background-color: lightpink;
  grid-area: myHeader;
}

nav 
{
    background-color: plum;
    grid-area: sideNav;
    list-style: none;
}


main {
    background-color: white;
    grid-area: content;
    }
    
    footer {
        background-color: lightpink;
        grid-area: footer;
    }


body {
  margin:0;
  background-color: white;
  text-align: center;
}


#cake {
    float:right;
    
}

#cake2 {
    float:left;
}

p {
    float: center;
}

@media only screen and (max-width: 600px) 
{
    #MyGrid {
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-template-areas:
        "myHeader myHeader myHeader"
        "sideNav sideNav sideNav"
        "content content content"
        "footer footer footer";}
 }
