#menu {
    list-style: none;
   
}

#introboxcontent {
    list-style: none;
    text-align: left;
}

#introbox {
border-style:ridge;
text-align: center;
float: right;
}

#introboxheader {
    background-color:aquamarine
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#contentbox {
border-style: ridge;
background-color: aquamarine;
float:left

}

#contentheader {text-align: center;}