table {
    border: 1px  solid black;
    border-collapse: collapse;
    width: 100%;
    border-collapse: collapse;
    }

caption {color: purple;}
    
td {
        border: 1px  solid purple;
        border-collapse: collapse;
        background-color: lightpink;
        color:purple;
        height: 100px;
        font-size: larger;
        }

    

 th {
            background-color: purple;
            color: lightpink;
            text-align: center;
            border: 1px  solid lightpink;
            border-collapse: collapse;
            float:center;
        }
    


body {
    display: flex;
    justify-content: center;
    
}


h1 {
    display: flex;
    justify-content: center;
    
}

    