input [type=text], select, textarea
   {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
   }

#name
   {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    }

#email
   {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    }



button 
   {
    color: white;
    background-color: blue;
    block-size: 50px;
    width: 80px;
    text-align: center;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

body 
    {
    background-color: gray;
    }

button:hover 
{
    color: black;
    background-color: lightskyblue;
}


#container {
    border-radius: 5px;
    padding: 20px;
    background-color: #ccc;
    display: block;
    margin-block: 100px;
    margin-right: 300px;
    margin-left: 300px;
}

h1 {
    text-align: center;
}
