#menu {
    list-style: none;
    padding-left: 0;
    width: 10%;
    clear:left;
    float: left;
    height:3800px;
}


#lornashore {
    text-align: center;
}


.menu  {
    float:right;
    padding-right: 0;
}


#wikilogo {
    float: left;
}


#introboxcontent {
    list-style: none;
    text-align: left;
}

#introbox {
    border-style:ridge;
    text-align: center;
    float: right;
    width: 30%;
}


#introboxheader {
    background-color: #eee;
    border-color: gray;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#contentbox {
    border-style: ridge;
    border-color: gray;
    background-color: #eee;
    float: left;
    width: 10%;
    padding:15px;  
}


#contentheader {
    text-align: center;
}

/* Table */

table {
    border: 1px  solid black;
    border-collapse: collapse;
    float:center;
    }

    th {
        border: 1px  solid black;
        border-collapse: collapse;
        float:center;
        background-color: #a2a9b1;
        color: black;
        }
    
td {
            border: 1px  solid black;
            border-collapse: collapse;
            float:center;
            }

 #onerow {
            background-color: #f8f9fa;
               }
               

#tworow {
             background-color: #f8f9fa;
            }

#threerow {
            background-color: #f8f9fa;
               }            
            
 #fourrow {
            background-color: #f8f9fa;
            }

.tdtable {
                text-align: center;
            }


            
    
            