/*NavBar 1*/

#list1 {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

li {
    padding:10px;
    list-style: none;
}

a {
    color: antiquewhite;
}

a:link { text-decoration: none;
 }


a:visited { text-decoration: none; 
}


a:hover { text-decoration: none; 
    
    padding: 10px;
    color: antiquewhite;}


a:active { text-decoration: none; }

#nav1 {
    background-color: #A126FB;
    padding: 10px;
    font-weight: 600px;
    font-family: 'Montserrat', sans-serif;
}

/*media*/

@media only screen and (max-width: 768px) {



    ul,footer, article {

        flex-direction: column;

    }

}

/*Navbar 1 Buttons*/

#free-delivery {
    margin-right: auto;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    border-style: solid;
    border-color: antiquewhite;
}

#free-delivery:hover {
    background-color: #c579fc;
    padding: 10px;
}

#sign-in, #cart, #about-us {
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    border-style: solid;
    border-color: antiquewhite;
    padding-left:30px;
    padding-right:30px;
}

#sign-in:hover, #cart:hover, #about-us:hover {
    background-color: #c579fc;
    padding: 10px;
    padding-left:30px;
    padding-right:30px;
}


/*NavBar 1 icons*/

#twitter, #instagram, #facebook, #user {
    color: antiquewhite;
}

/*Navbar 2*/

#list2 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#logo_nav2 {
    margin-right: auto;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    border-style: dotted;
    border-color: antiquewhite;
}

#text_nav2 {
    color: #c579fc;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    font-size: larger;
}

.search-bar-class {
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
    padding: 60px;
    color: #c579fc;
}

input.search-bar-input {
    background-color: #c579fc;
}

::placeholder {
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
  }

  input, select, textarea{
    color: antiquewhite;
}

button {
    background-color: #A126FB;
}

/*Navbar 3*/

#nav3 {
    background-color: #A126FB;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
}

#list3 {
    display: flex;
    justify-content:space-evenly;
    padding: 10px;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}

/*About Us Article Content*/

#article-about-us {
    color: #A126FB;
}

#image-about-us {
    border-style: dotted;
    border-color: antiquewhite;
    padding: 10px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

#about-us-header {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

#article-container {
    display: grid;
    grid-template-columns:auto auto;
    grid-template-areas: "section-1 section-2"
    "section-1 section-2 "
    "section-1 section-2 ";
}

#section-1{
    grid-area: section-1;
   padding-left: 500px;
}

#section-2{
    grid-area: section-2;
    text-align:start;
    padding-bottom: 50px;
    padding-right: 500px;
}

#profile-picture {
    border-style: dotted;
    border-color: antiquewhite;
    padding: 10px;
}


/*Footer*/

footer {
    background-color: #A126FB;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
    display: flex;
    justify-content:space-evenly;
}

#footer-nav {
    background-color: #A126FB;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
    text-align: center;
}

#footer-container {
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-areas: "footer-column-1 footer-column-2 footer-column-3"
    "footer-column-1 footer-column-2 footer-column-3"
    "footer-column-1 footer-column-2 footer-column-3";
}

#footer-column-1{
    grid-area: footer-column-1;
    text-align: center;
    padding-right: 500px;
}

#footer-column-2{
    grid-area: footer-column-2;
    text-align: center;
    padding-right: 500px;
}

#footer-column-3{
    grid-area: footer-column-3;
    text-align: center;
}

#footer-ul {
    display: flex;
    justify-content:space-evenly;
    padding: 10px;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}

h5 {
    *font: bold 12px Sans-Serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: antiquewhite;
    color:  #A126FB;
    padding: 5px 10px;
    margin: 0 0 10px 0;
    /*writing-mode: vertical-rl;*/
    display: inline-block;
  }

  #footer-author {
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-left: 50px;
}

              /*Homepage Hero*/

               .hero-image {
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1565695951564-007d8f297e48?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=735&q=80');
                height: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }

            .hero-text {
                text-align: center;
                color: antiquewhite;
              }

              .hero-button {
                color: antiquewhite;
                border-color: antiquewhite;
              }

            input.hero-search-bar {
                background-color: #c579fc;
                font-family: 'Montserrat', sans-serif;
                border-color: antiquewhite;
            }

            #ocassion {
                background-color: #c579fc;
                font-family: 'Montserrat', sans-serif;
                border-color: antiquewhite;
            }

           

        /*cards*/

        h1 {
            color: #c579fc;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        .card {
           
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            color: #c579fc;
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
          }
     
          .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            padding: 10px;
        }
          
          #card-list {
            padding: 2px 16px;
          }

          .column {
            float: left;
            width: 25%;
            padding: 0 10px;
          }

          .row {margin: 0 100px;
        }

          .flower-image{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          }

         
  
    
/*font-family: 'Montserrat', sans-serif;*/