/*NavBar 1*/

#list1 {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

li {
    padding:10px;
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: #c579fc;
    padding: 10px;
}

#nav1 {
    background-color: #A126FB;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600px;
}

@media only screen and (max-width: 768px) {



    ul {

        flex-direction: column;

    }

}

/*Navbar 1 Buttons*/

#free-delivery {
    margin-right: auto;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    border-style: solid;
    border-color: antiquewhite;
}

#free-delivery:hover {
    background-color: #c579fc;
    padding: 10px;
}

#sign-in, #cart, #about-us {
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    border-style: solid;
    border-color: antiquewhite;
    padding-left:30px;
    padding-right:30px;
}

#sign-in:hover, #cart:hover, #about-us:hover {
    background-color: #c579fc;
    padding: 10px;
    padding-left:30px;
    padding-right:30px;
}


/*NavBar 1 icons*/

#twitter, #instagram, #facebook, #user {
    color: antiquewhite;
}

/*Navbar 2*/

#list2 {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#logo_nav2 {
    margin-right: auto;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    border-style: dotted;
    border-color: antiquewhite;
}

#text_nav2 {
    color: #c579fc;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.search-bar-class {
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat', sans-serif;
    padding: 60px;
    color: #c579fc;
}

input.search-bar-input {
    background-color: #c579fc;
}

::placeholder {
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
  }

  input, select, textarea{
    color: antiquewhite;
}

button {
    background-color: #A126FB;
}

/*font-family: 'Montserrat', sans-serif;*/